/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Theme Variables */
:root {
    --bg: #ffffff;
    --text: #000000;
    --primary: #00bcd4;
}

body.dark {
    --bg: #121212;
    --text: #ffffff;
    --primary: #00bcd4;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Arial, sans-serif;
    transition: 0.3s;
}


header {
    background: var(--primary);
    padding: 15px 30px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}

section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    position: relative;
}

section h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: var(--primary);
    margin: 8px auto 0;
}


#home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10%;
    gap: 20px;
    /* background: linear-gradient(135deg, #e3f2fd, #ffffff); */

}

.hero-left h1 {
    font-size: 2.5rem;
}

.hero-left h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}

#dynamic-text {
    color: var(--primary);
    font-weight: bold;
}

.hero-right img {
    width: 300px;
    border-radius: 20px;
    object-fit: cover;
    transition: transform 0.3s;
}

.hero-right img:hover {
    transform: scale(1.05);
}


#projects {
    padding: 80px 10%;
    text-align: center;
    /* background: #f5f7fa; */

}

#projectContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    width: 250px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    background: var(--bg);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card h3 {
    margin: 10px;
}

.card p {
    margin: 10px;
}

.card:hover {
    transform: translateY(-10px);
}

#contact {
    padding: 60px 10%;
    text-align: center;
    /* background: #e8f5e9; */

}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

small {
    color: red;
}

button {
    padding: 12px;
    margin-top: 10px;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: black;
}


footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}


@media (max-width: 900px) {
    #home {
        flex-direction: column-reverse;
        text-align: center;
    }

    .hero-right img {
        width: 200px;
    }

    #projectContainer {
        flex-direction: column;
        align-items: center;
    }
}